.progress-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.progress-bar {
    margin: 10% auto;
}

.status-title {
    display: block;
    font-size: 18px;
    text-align: center;
}

.square {
    display: block;
    text-align: center;
}

@media screen and (max-width:620px) {
    .progress-container {
        flex-direction: column;
    }
}