/* .task-item {
    height: auto;
    border: 1px #ccc solid;
    border-radius: 10px;
    margin-bottom: 3px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.actions-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -25px;
}

.action-button {
    border-radius: 10px;
    margin: 2px;
    background-color: #86B7B9;
    color: white;
}

.likes {
    float: right;
    margin: auto 10px;
    text-align: left;
}

.like-button {
    cursor: pointer !important;
}

.timestamp {
    font-size: 13px;
}

.author-name {
    font-size: 15px;
}

.taskname,
.collapse {
    font-size: 16px;
    font-weight: bold;
}

.taskname::after {
    margin-left: 5px;
    content: '\f0d7';
    font-family: FontAwesome;
    color: #ccc;

}

.collapse::after {
    margin-left: 5px;
    content: '\f0da';
    font-family: FontAwesome;
    color: #ccc;

}

.likes-container {
    float: right;
    width: 80px;
    padding: 5px;
    margin: auto 20px;
    margin-top: -35px;
}*/


.task-item {
    /* height: 70px; */
    height: auto;
    width: 100%;
    border: 1px #ccc solid;
    border-radius: 10px;
    margin-bottom: 3px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.actions-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -25px;
}

.action-button {
    float: right;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #86B7B9;
    margin-right: 5px;
    margin-top: -2px;
    color: white;
}

.likes {
    float: right;
    margin: auto 10px;
    text-align: left;
}

.like-button {
    cursor: pointer !important;
}

.timestamp {
    font-size: 13px;
}

.author-name {
    font-size: 15px;
}

.taskname,
.collapse {
    font-size: 16px;
    font-weight: bold;
}

.taskname::after {
    margin-left: 5px;
    content: '\f0d7';
    font-family: FontAwesome;
    color: #ccc;

}

.collapse::after {
    margin-left: 5px;
    content: '\f0da';
    font-family: FontAwesome;
    color: #ccc;

}

.likes-container {
    float: right;
    width: 80px;
    padding: 5px;
    margin: auto 20px;
    margin-top: -35px;
}

@media screen and (max-width:620px){
    .actions-container {
        margin-top: 5px;
        justify-content: start;
    }
} 